body{
    font-size: 1rem;
}

header{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.portada{
    display: inline-block;
    overflow: hidden;
}

.portada>img{
    width: 100%;
    object-fit: cover;
}



main{
    height: 250vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;/*esta controlando el eje vertical*/
    align-items: center;

  }

  .contendor-ofertas>label{
    margin-right:20px ;
}

.contendor-revisar-mpago>label{
    margin-right:20px ;
}


.contendor-revisar-carrito>label{
    margin-right:20px ;
}
.contenedor-links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.contendor-ofertas{
    display: flex;
}


.contendor-revisar-carrito{
    display: flex;
}

.contendor-revisar-mpago{
    display: flex;
}

.contenedor-cartas{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.carta-bicicletas{

    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;
    
    
}


.carta-mantenimiento{
    
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
    margin-bottom: 20px;
}

.carta-mantenimiento>img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carta-bicicletas>img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.subcontainer{
    display: flex;
    flex-direction: column;
        width: 300px;
    align-items: center;
    text-align: center;
}



footer{
    height: 20vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
  }

nav{
    display: flex;
    position: fixed;
    background: rgb(3,3,3);
    background: linear-gradient(45deg, rgba(3,3,3,1) 0%, rgba(40,25,5,1) 54%, rgba(252,176,69,1) 100%);
    color: white;
    width: 80%;
    border-radius: 30px;
    z-index: 999;/*se superpone sobre un elemento de position absolute*/
    scroll-behavior: smooth;
    

}

.lista-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 1.15%;
}

.Despliegue-secciones>ul{
    /*display: none;*/
    height: 0%;
    overflow: hidden;
    transition: height 0.2s 0.5s;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}


.Despliegue-secciones:hover > ul {
    /*display: block;*/
    height: 100%;
  }



  nav {
    height: 8vh;
    transition: all 1s ease-out;
  }

  nav:hover {
    transition: all 1s ease-out;
    height: 20vh;
  }

.Nombre{
    color:rgb(202, 119, 17) ;
    position: absolute;
    top: 100px;
    left: 100px;
}



.contenido-footer{
    display: flex;
    width: 100%;
    height: 95%;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.INFO-CONTACTO>a{
    outline: none;
    text-decoration: none;
    color: white
}

.PRODUCTOS>a{
    outline: none;
    text-decoration: none;
    color: white
}

.NUESTRA-EMPRESA>a{
    outline: none;
    text-decoration: none;
    color: white
}

.SÃGUENOS>a{
    outline: none;
    text-decoration: none;
    color: white
}

.DropD1-Ofertas{
    position: relative;
    top: 500px;
}

.DropD2-mtto{
    position: relative;
    top: 700px;
}

.login{
    outline: none;
    text-decoration: none;
    color: white
}

.home{
    outline: none;
    text-decoration: none;
    color: white
}

.Contactos{
    outline: none;
    text-decoration: none;
    color: white
}

.contenedor-Imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}
.contenedor-Imagenes>div{
    width: 50%;
}
.contenedor-Imagenes>h5{
    margin-bottom: 2%;
    text-align: center;
}

.contactame{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.Contenedores-contactos{
    display: flex;
    max-width: 80%;
    justify-content: space-around;
}
.contactame>h5{
    margin-bottom: 2%;
    text-align: center;
}
.Contenedores-contactos>div{
    height: 30%;
    width: 30%;
}

li{
    list-style:none;
}

.lista-contacto>li{
    list-style:circle;
}

input{
    background-color: #04AA6D;
    border: none;
    color: white;
    border-radius: 10px;
}

@media(max-width:932px){
    .div-contacto{
        display: none;
    }

    .subcontainer{
        height: 200px;
        width: 200px;
    }

    .carta-bicicletas{
        height: 200px;
        width: 200px;
    }

    .carta-mantenimiento{
        height: 200px;
        width: 200px;
    }

    nav{
        font-size: 1.5rem;
        height: 0.5vh;
    }

    nav {
        height: 4vh;
        transition: all 1s ease-out;
      }
    
      nav:hover {
        transition: all 1s ease-out;
        height: 10vh;
      }

      header{
        height: 30vh;
      }

      main{
        height: 100vh;
      }
      .Nombre{
        top: 10%;
        left: 55%;
      }

}

@media(max-width:821px){
    nav{
        font-size: 1.5rem;
    }
    nav:hover {
        transition: all 1s ease-out;
        height: 12vh;
      }
    .lista-nav{
        margin-top: 0.1%;
    }
}


@media(max-width:540px){



    nav {
        height: 4.5vh;
        transition: all 1s ease-out;
      }
    
      nav:hover {
        transition: all 1s ease-out;
        height: 12vh;
      }

    nav{
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }
    .lista-nav{
        margin-top: 1.2%;
    }

    .subcontainer{
        height: 200px;
        max-width: 120px;
        font-size: 0.8rem
    }

    .carta-bicicletas{
        height: 200px;
        max-width: 120px;
    }

    .carta-mantenimiento{
        height: 120px;
        max-width: 120px;
    }



    .contenedor-links{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        max-width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contenedor-cartas{
        justify-content: space-around;
        width: 100%;
    }

    footer{
        font-size: 0.6rem;
    }
}

@media(max-width:415px){

    nav{
        font-size: 1rem;
    }
    .lista-nav{
        margin-top: 1%;
        margin-left: 10px;
        margin-right: 0px;
        padding-left: 0%;
        display: flex;
        justify-content: space-between;
    }

    h1{
        font-size: 0.8rem;
    }
    footer{
        font-size: 0.4rem;
    }
}


@media(max-width:300px){
    nav{
        font-size: 0.7rem;
    }
    .lista-nav{
        margin-top: 1%;
        margin-left: 20px;
        margin-right: 0px;
        padding-left: 0%;
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-size: 0.8rem;
    }
    footer{
        font-size: 0.4rem;
    }
}

@media(max-width:250px){
    .home{
        display: none;
    }
    .PRODUCTOS{
        display: none;
    }
    h1{
        font-size: 0.8rem;
    }
    footer{
        font-size: 0.4rem;
    }
}